{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}
{% block menu_links %}
    {% if user_obj == request.user %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url "accounts:update" user_obj.pk %}">Редактировать<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url "accounts:password_change" user_obj.pk%}">Смена пароля <span class="sr-only">(current)</span></a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
       <div class="card text-center">
          <div class="card-header">
            Личный кабинет
          </div>
       <div class="row">
       <div class="col-sm-4">
           {% if user_obj.profile.avatar %}
               <img class="avatar mt-3"  src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
           {% endif %}
       </div>
       <div class="col-sm-8">
          <div class="card-body">
            <h5 class="card-title">Имя пользователя: {{ user_obj.username }}</h5>
            <p class="card-text">
                <p>Имя: {% if user_obj.first_name %} {{ user_obj.first_name }} {% else %} Нет данных {% endif %}</p>
                <p>Фамилия: {% if user_obj.last_name %} {{ user_obj.last_name }} {% else %} Нет данных {% endif %}</p>
                <p>Почта: {% if user_obj.email %} {{ user_obj.email }} {% else %} Нет данных {% endif %}</p>
                <p>Дата рождения: {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>
                <p>Ссылка на репозиторий: {% if user_obj.profile.git_repo %}{{ user_obj.profile.git_repo }} {% else %} Нет данных {% endif %}</p>
            </p>
          </div>
       </div>
        </div><div class="card-footer text-muted">
            <p>Последняя дата активности: {% if user_obj.last_login %}{{ user_obj.last_login }} {% else %} Нет данных {% endif %}</p>
          </div>
       </div>
   </div>
{% endblock %}