{% extends 'base.html' %}
{% block content %}
    <h1 class="bg-info text-white text-center">Задачи:</h1>
    {% csrf_token %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="card-deck text-center">
            {% for issue in object_list %}
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ issue.title }}</h5>
                      <p class="card-text">Статус : {{ issue.status }}</p>
                      <p class="card-text">Тип : {{ issue.tip }}</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">
                          <a href="{% url 'issue_view' issue.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-info"></span></a>
                          <a href="{% url 'issue_update' issue.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-edit"></span></a>
                          <a href="{% url 'issue_delete' issue.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-trash"></span></a>
                      </small>
                    </div>
                  </div>
            {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
<a href="{% url 'add_issue' %}" class="button2" tabindex="0">+</a>
{% endblock %}