{% extends 'base.html' %}
{% block title %}{{ object.name }}{% endblock %}

{% block menu %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Действия
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'issue_update' object.pk%} ">Редактирование</a>
            <a class="dropdown-item" href="{% url 'issue_delete' object.pk%} ">Удаление</a>
        </div>
      </li>
{% endblock %}
{% block content %}
   <div class="container">
       <div class="card text-center">
          <div class="card-header">
            Задача
          </div>
          <div class="card-body">
            <h5 class="card-title">Наименование задачи: {{ object.title }}</h5>
            <p class="card-text">
              <p>Описание : {{ object.description }} </p>
              <p>Статус: {{ object.status }} </p>
              <p>Тип : {{ object.tip }} </p>
            </p>
          </div>
          <div class="card-footer text-muted">
              <p>Дата создания : {{ object.create_date }} </p>
          </div>
        </div>
{% endblock %}