{% extends 'base.html' %}
{% block title %}{{ object.name }}{% endblock %}

{% block menu %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Действия
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'teams_edit' object.pk%} ">Редактирование</a>
            <a class="dropdown-item" href="{% url 'teams_delete' object.pk%} ">Удаление</a>
        </div>
      </li>
{% endblock %}
{% block content %}
   <div class="container">
       <div class="card text-center">
          <div class="card-header">
            Команда
          </div>
          <div class="card-body">
            <h5 class="card-title">Пользователь : {{ object.user }}</h5>
            <h5 class="card-title">Проект : {{ object.project }}</h5>
            <h5 class="card-title">Дата начала : {{ object.created_date }}</h5>
            <h5 class="card-title">Дата окончания : {{ object.updated_date }}</h5>
          </div>
        </div>
{% endblock %}