{% extends 'base.html' %}
{% block content %}
    <h1 class="bg-info text-white text-center">Команды:</h1>
    {% csrf_token %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="card-deck text-center">
            {% for team in object_list %}
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ team.project }}</h5>
                      <p class="card-text">Пользователь : {{ team.user }}</p>
                      <p class="card-text">Проект : {{ team.project }}</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">
                          <a href="{% url 'teams_view' team.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-info"></span></a>
                          <a href="{% url 'teams_edit' team.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-edit"></span></a>
                          <a href="{% url 'teams_delete' team.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-trash"></span></a>
                      </small>
                    </div>
                  </div>
            {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
<a href="{% url 'teams_new' %}" class="button2" tabindex="0">+</a>
{% endblock %}