{% extends 'base.html' %}
{% block content %}
    <h1 class="bg-info text-white text-center">Статусы:</h1>
    {% csrf_token %}
            {% for status in object_list %}
                <div class="card mb-3 text-center">
                  <div class="card-header bg-info text-white"> '{{ status.name }}'</div>
                  <div class="card-body">
                    <a href="{% url 'status_view' status.pk %}" class="btn btn-info">Открыть</a>
                    <a href="{% url 'statuses_edit' status.pk %}" class="btn btn-info">Редактировать</a>
                    {% if not status.issues.count %}
                      <a href="{% url 'status_delete' status.pk %}" class="btn btn-info">Удалить</a>
                        {% else %}
                        <a href="{% url 'status_delete' status.pk %}" class="btn btn-info disabled">Удалить</a>
                    {% endif %}

                  </div>
                </div>
            {% endfor %}
{% endblock %}
{% block scripts %}
<a href="{% url 'status_new' %}" class="button2" tabindex="0">+</a>
{% endblock %}